@import "../../utils/_variables.scss";
@import "../../utils/_mixins.scss";

.c_hiss {
  height: 100%;
  border: 2px solid saddlebrown;
  @media (min-width: $break--med) {
    min-height: 50em;
  }
  &__doors {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &--closed {
      .c_hiss__doors__door {
        &--left {
          left: 0;
        }
        &--right {
          right: 0;
        }
      }
    }
    &__door {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      z-index: 60;
      background: rgba($pink, 0.4);
      overflow: hidden;
      transition: left 1500ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
        right 1500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      // background-color: #d3d3d3;
      // background-image: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);
      background-color: #2f4353;
      background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);

      &--left {
        left: -48%;
        animation: shake 500ms ease-out normal;
      }
      &--right {
        right: -48%;
        animation: shake 500ms ease-out;
        animation-direction: reverse;
      }
      &.shake {
      }
    }
  }
  .c_grafitti {
    position: absolute;
    font-family: $grafitti;
    &--1 {
      top: 30%;
      left: 20%;
      color: $red;
      font-size: 3em;
      transform: rotate(-10deg);
    }
    &--2 {
      top: 60%;
      left: 30%;
      font-size: 4em;
      color: $pink;
      font-weight: bold;
      text-transform: uppercase;
      transform: rotate(15deg);
    }
    &--3 {
      top: 50%;
      right: 20%;
      transform: rotate(8deg);
      font-size: 4.5em;
      line-height: 0.5;
      text-align: center;
    }
  }
  $thinListWidth: 1em;
  $bigListWidth: 2em;
  &__room {
    position: absolute;
    bottom: calc(10vh - 0.5em);
    left: 50%;
    width: 18em;
    max-width: 90%;
    height: 25em;
    border-top: 0.7em solid $greyblue;
    transform: translateX(-50%);
    background-color: $pink;
    // border-bottom: 0.5em solid $white;
    @media (min-width: $break--med) {
      width: 40em;
      height: 40em;
    }
    @media (min-width: $break--big) {
      bottom: calc(15vh - 0.5em);
    }
    &__outside {
      @media (min-width: $break--med) {
      }
      position: absolute;
      z-index: 20;
      background-color: $dogA-3;
      &:after {
        position: absolute;
        border-style: solid;
        content: "";
      }
      &--left,
      &--right {
        top: -0.5em;
        bottom: -1em;
        width: $thinListWidth;
        border-top: 1px solid darken($dogA-2, 5%);
        @media (min-width: $break--med) {
          width: $bigListWidth;
        }
      }
      &--left {
        left: -2em;
        &:after {
          top: 0;
          left: $thinListWidth;
          bottom: 0;
          border-color: transparent transparent transparent $dogA-2;
          border-width: 0.5em 1em 1em 1em;
          @media (min-width: $break--med) {
            left: $bigListWidth;
          }
        }
        @media (min-width: $break--med) {
          left: -3em;
        }
      }
      &--right {
        right: -2em;
        &:after {
          top: 0;
          right: $thinListWidth;
          bottom: 0;
          border-color: transparent $dogA-2 transparent transparent;
          border-width: 0.5em 1em 1em 1em;
          @media (min-width: $break--med) {
            right: $bigListWidth;
          }
        }
        @media (min-width: $break--med) {
          right: -3em;
        }
      }
      &--top {
        top: -1.5em;
        left: -2em;
        right: -2em;
        height: $thinListWidth;
        &:after {
          top: $thinListWidth;
          left: $thinListWidth;
          right: $thinListWidth;
          border-color: darken($dogA-2, 5%) transparent transparent transparent;
          border-width: 0.5em 0.5em 0 0.5em;
        }

        @media (min-width: $break--med) {
          top: -2.5em;
          left: -3em;
          right: -3em;
          height: $bigListWidth;
          &:after {
            top: $bigListWidth;
            left: $bigListWidth;
            right: $bigListWidth;
          }
        }
      }
    }
    &__inside {
      position: absolute;
      top: 0;
      border-style: solid;
      &--roof {
        left: 0;
        right: 0;
        border-color: darken($pink, 17%) transparent transparent transparent;
        border-width: 1.5em 2em 1em 2em;
        @media (min-width: $break--med) {
          border-width: 2em 4.5em 0 4.5em;
        }
      }
      &--left-wall {
        left: 0;
        bottom: 0;
        border-color: transparent transparent transparent darken($pink, 8%);
        z-index: 20;
        border-width: 1.5em 2.5em 2.5em 2.5em;
        @media (min-width: $break--med) {
          border-width: 2em 5.5em 3.5em 4.5em;
        }
      }
      &--right-wall {
        right: 0;
        bottom: 0;
        border-color: transparent darken($pink, 8%) transparent transparent;
        z-index: 20;
        border-width: 1.5em 2.5em 2.5em 3em;
        @media (min-width: $break--med) {
          border-width: 2em 4.5em 3.5em 4.5em;
        }
      }
      &--floor {
        top: auto;
        right: 0;
        left: 0;
        bottom: 0;
        border-color: transparent transparent $pink2 transparent;
        border-width: 2em 2.5em 2.5em 2.5em;
        @media (min-width: $break--med) {
          border-width: 2em 4.5em 3.5em 4.5em;
        }
      }
    }
  }
  &__dog-scene {
    border: 2px solid yellow;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 30;
  }
}

@keyframes shake {
  0%,
  40%,
  80% {
    top: -1em;
  }
  5%,
  35%,
  70% {
    top: -0.5em;
  }
  10%,
  25%,
  60% {
    top: 0;
  }
}
