@import "../../utils/_variables.scss";
@import "../../utils/_mixins.scss";

.p_home {
  border: 1px solid red;
  position: relative;
  min-height: calc(100vh - 6em);
  border: 1px solid red;
  background: $grape;
  @media (min-width: $break--med) {
    min-height: calc(100vh - 7em);
  }
  &__floor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background: $greyblue;
    @media (min-width: $break--big) {
      height: 15vh;
    }
    // @include dots($greyblue, $greyblue2);
    &:before {
      position: absolute;
      top: 0em;
      left: 0;
      right: 0;
      height: 0.5em;
      background-color: $white;
      content: "";
    }
  }
  &--xiapia {
    @include zigzag($grape, $grape2);
  }
  &--wasapasa {
    @include argyle($grape);
  }
  &--vipselipse {
    @include zigzag($greyblue, $greyblue2);
  }
  &--umaupa {
    @include argyle($snow2);
  }
  &--tripptrapp {
    @include water($pink, $pink2);
  }
  &--sukkdukk {
    
  }
  &--rettsmett {

  }
  &--qimi {
    @include argyle($violet);
  }
  &--popkopp {

  }
  &--opalopa {

  }
  &--nixmix {

  }
  &--mixmax {
    @include zigzag($pink, $pink2);

  }
  &--lappsnapp {

  }
  &--knapprapp {

  }
  &--jappsnapp {

  }
  &--ipplipp {

  }
  &--hingping {

  }
  &--gnafflaff {

  }
  &--flippflopp {

  }
  &--epilepi {

  }
  &--dingdong {

  }
  &--clapclap {

  }
  &--bingping {

  }
  &--apprapp {  
    @include zigzag($violet, $violet2);

  }
}