@import "../../utils/_variables.scss";
@import "../../utils/_mixins.scss";

.p_home {
  border: 1px solid red;
  position: relative;
  min-height: calc(100vh - 6em);
  border: 1px solid red;
  @media (min-width: $break--med) {
    min-height: calc(100vh - 7em);
  }
  &__floor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background: $greyblue;
    @media (min-width: $break--big) {
      height: 15vh;
    }
    // @include dots($greyblue, $greyblue2);
    &:before {
      position: absolute;
      top: 0em;
      left: 0;
      right: 0;
      height: 0.5em;
      background-color: $white;
      content: "";
    }
  }
}
