@import "../../utils/_variables.scss";
@import "../../utils/_mixins.scss";

.c_header {
  height: 6em;
  @media (min-width: $break--med) {
    height: 7em;
  }
  &__inner {
    padding: 1em 0;
    @include centerContent();
  }
  &__logo {
    text-decoration: none;
    color: $pink;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $grafitti;
      font-size: 3em;
      font-weight: normal;
      @media (min-width: $break--med) {
        font-size: 4.5em;
      }
    }
    img {
      display: inline-block;
      margin: 0 0.3em;
      width: 1.5em;
      transition: transform 150ms ease-in-out;
      transform: scale(1);
      @media (min-width: $break--med) {
        width: 2em;
      }
    }
    @include hover() {
      img {
        transform: scale(1.1);
      }
    }
  }
}
