@import "../../utils/_variables.scss";
@import "../../utils/_mixins.scss";

.c_dog {
  position: absolute;
  &--apprapp {
    left: 5%;
    bottom: 2%;
    width: 30%;
    z-index: 50;
    @media (min-width: $break--med) {
    }
  }
  &--bingping {
    bottom: 5%;
    right: 3%;
    width: 30%;
    z-index: 10;
    @media (min-width: $break--med) {
      // bottom: 2em;
    }
  }
  &--clapclap {
    bottom: 0.2em;
    right: 30%;
    width: 30%;
    z-index: 40;
    @media (min-width: $break--med) {
      // bottom: 2em;
    }
  }
  img {
    display: block;
    width: 100%;
  }
}
