$darkpink: #271847;
$darkgreen: #0e3522;
$lightgreen: #84b537;
$red: #db232d;
$pink: #e84596;
$blue: #38c0ed;
$darkblue: #043d5e;

$grafitti: "Reenie Beanie", cursive;

$break--mini: 400px;
$break--med: 767px;
$break--big: 900px;

$violet: #acafd5;
$violet2: #caccea;
$snow: #669bc4;
$snow2: #83bae4;
$blue: #4a77d2;
$greyblue: #576484;
$greyblue2: #7484aa;
$grape: #463355;
$grape2: #684d7e;
$pink: #bd467f;
$pink2: #dd639d;
$white: #fbfbfb;

$dogA-1: #383a39;
$dogA-2: #535353;
$dogA-3: #98979c;
$dogA-4: #d9d9d9;
$dogA-5: #e6e6e6;

$dogB-1: #844729;
$dogB-2: #9e6147;
$dogB-3: #c47a54;
$dogB-4: #cf854e;
$dogB-5: #e39c67;
$dogB-6: #f8dac3;
$dogB-7: #ffe6d3;

$dogC-1: #9aa0b5;
$dogC-2: #bfc3d2;
$dogC-3: #dde2f3;
$dogC-4: #eff1f8;
