$darkpink: #271847;
$darkgreen: #0e3522;
$lightgreen: #84b537;
$red: #db232d;
$pink: #e84596;
$blue: #38c0ed;
$darkblue: #043d5e;

$grafitti: 'Reenie Beanie', cursive;

$break--mini: 400px;
$break--med: 767px;
$break--big: 900px;