@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background: darken($darkblue, 10%);
  // @include zigzag($greyblue, $greyblue2);
  @include zigzag($violet, $violet2);
  // @include zigzag($pink, $pink2);
  // @include zigzag($grape, $grape2);
  color: #fff;
  font-family: "Lato", sans-serif;
}
html {
  font-size: 16px;
}

.wrapper {
}
